boto==2.39.0
Django==1.8
django-allauth==0.24.1
django-appconf==1.0.1
django-avatar==3.0.0
django-bootstrap3==7.0.0
django-storages==1.4
django-user-agents==0.3.0
oauthlib==1.0.3
Pillow==3.1.1
python-openid==2.2.5
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
ua-parser==0.6.1
user-agents==1.0.1
django_compressor
