
<!DOCTYPE HTML>
<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]--> 
<!--[if lt IE 7 ]><html class="no-js ie6" lang="en"><![endif]--> 
<!--[if IE 7 ]><html class="no-js ie7" lang="en"><![endif]--> 
<!--[if IE 8 ]><html class="no-js ie8" lang="en"><![endif]--> 
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
    <head>
        <title>Tech Fest</title>
        <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Remove if you're not building a responsive site. (But then why would you do such a thing?) -->
                <link rel="shortcut icon" href="/static/minimable/img/favicon.ico"/>
        <link rel='stylesheet' id='open-sans-css'  href='//fonts.googleapis.com/css?family=Open+Sans%3A300italic%2C400italic%2C600italic%2C300%2C400%2C600&#038;subset=latin%2Clatin-ext&#038;ver=3.9.2' type='text/css' media='all' />
<link rel='stylesheet' id='bootstrap-css'  href='/static/minimable/css/bootstrap.min.css?ver=3.9.2' type='text/css' media='screen' />
<link rel='stylesheet' id='bootstrap-responsive-css'  href='/static/minimable/css/bootstrap-responsive.min.css' type='text/css' media='screen' />
<link rel='stylesheet' id='screen-css'  href='/static/minimable/style.css' type='text/css' media='screen' />
<link rel='stylesheet' id='font-awesome-css'  href='/static/minimable/css/font-awesome.min.css' type='text/css' media='screen' />
<link rel='stylesheet' id='swipebox-css'  href='/static/minimable/css/swipebox.css' type='text/css' media='screen' />
<link rel='stylesheet'  href='/static/headerback/css/normalize.css' type='text/css' media='screen' />
<link rel='stylesheet'  href='/static/headerback/css/component.css' type='text/css' media='screen' />
<link rel='stylesheet'  href='/static/headerback/css/demo.css' type='text/css' media='screen' />
<script type='text/javascript' src='//code.jquery.com/jquery-1.11.0.min.js'></script>
<script type='text/javascript' src='/static/minimable/js/html5.js'></script>
        <style>
            .color, h1 > span, h2 > span, .description-text a, .description-text a:hover, ul.social li a span, .email-link:hover { color:#01a3b2!important;}
            .circle-menu, .nav-tabs li a, #portfolio a.link-portfolio, input[type="submit"] {background:#01a3b2;}
            .page-template-main-template-php .section-page {padding:80px 0;}
            .navbar { line-height:40px;}
            .sub-menu {top:60px;}
            .navbar .nav > li:hover > .sub-menu {top:41px;} 
            .navbar .collapse #nav-menu,#mini-logo a,.cart-contents,.cart-contents span{ height:40px;}
            #mini-logo img { height:14px;}
            .navbar .nav > li > a {line-height: 40px;}
                        .big-title {display:block;}
                    </style>
        <style type="text/css" media="print">#wpadminbar { display:none; }</style>
<style type="text/css" media="screen">
    html { margin-top: 32px !important; }
    * html body { margin-top: 32px !important; }
    @media screen and ( max-width: 782px ) {
        html { margin-top: 46px !important; }
        * html body { margin-top: 46px !important; }
    }
</style>
    </head>
    <body class="home page page-id-235 page-template page-template-main-template-php logged-in admin-bar no-customize-support">
                    <div id="prepage"></div>
        <header id="menu-top" class="home-top hide-menu">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div id="mini-logo">
                    <a href="#page-1" id="mini-link">
                        <img src="/static/minimable/img/logo-mini.png" alt="Tech Fest"/>
                    </a>
                </div>
                <div id="btn-menu-container">
                    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="nav-collapse collapse">
                    <ul class="nav top-nav" id="nav-menu">
                        <li id="menu-item-475" class="active home-link menu-item menu-item-type-custom menu-item-object-custom menu-item-475"><a href="#home">Home</a></li>
<li id="menu-item-476" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-476"><a href="#our-staff">Our staff</a></li>
<li id="menu-item-477" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-477"><a href="#our-gallery">Our Gallery</a></li>
<li id="menu-item-478" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-478"><a href="#stunning-works-in-our-portfolio">Portfolio</a></li>
<li id="menu-item-479" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-479"><a href="#get-in-touch-with-us">Contact</a></li>
                   </ul>
                </div>
            </div>
        </div>
    </nav>
</header>

<section id="home" class="section-page full-home home-section page-1">
    <div class="container ">
                <div id="home-header">
            <div id="logo" class="left-logo">
                <img src="/static/minimable/img/logo.png" alt="Tech Fest" height="45" />
            </div>
            <h2 id="mini-slogan">Just another WordPress site</h2>
        </div>
                        <div class="three-big" id="slogan">
            <h1 id="first-title" class="big-title">I am <span>Minimal</span>.</h1>
            <h1 id="second-title" class="big-title">I am <span>Scrollable</span>.</h1>
            <h1 id="third-title" class="big-title">I am <span>Minimable</span>.</h1>
        </div>
                        <div class="spin-effect" id="bubbles">
            <nav id="nav-home">
                <ul>
                    <li class="">
                        <a class="circle-menu circle-black" href="#our-staff"><span class="label-link">Our staff</span></a>
                        <span class="arrow"></span>
                    </li>
                                        <li class="">
                        <a class="circle-menu" href="#our-gallery"><span class="label-link">Our gallery</span></a>
                        <span class="arrow"></span>
                    </li>
                                                            <li class="">
                        <a class="circle-menu circle-black" href="#stunning-works-in-our-portfolio"><span class="label-link">Our stunning work</span></a>
                        <span class="arrow"></span>
                    </li>
                                                            <li class="">
                        <a class="circle-menu" href="#get-in-touch-with-us"><span class="label-link">Contact us</span></a>
                        <span class="arrow"></span>
                    </li>
                                                                            </ul>
            </nav>
        </div>
            </div>
</section>  <section id="our-staff" class="section-page page-2">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2 class="section-title">Our <span>Staff</span></h2>
                    <div class="row">
                        <div class="span3 border" id="staff-desc" style="position:relative;">
                            <h3 class="col-title color">WE ARE THE BEST</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
                        </div>
                        <div class="span9 border" id="staff-team" style="position:relative;">
                                                                                                                 
                            <ul class="nav nav-tabs">
                                                                                                                                                    <li class="active"><a href="#102" data-toggle="tab">Tom</a></li>
                                                                                                                                                    <li><a href="#100" data-toggle="tab">John</a></li>
                                                                                                                                                    <li><a href="#97" data-toggle="tab">Amanda</a></li>
                                                                                                                                                    <li><a href="#52" data-toggle="tab">Sara</a></li>
                                                                                    </ul>
                                                                                    <div class="tab-content row">
                                                                                                                                                                                    <div class="tab-pane fade active in" id="102">
                                    <div class="span3">
                                        <img width="270" height="270" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="img-circle wp-post-image" alt="Image two" />                                 </div>
                                    <div class="span6 description-text">
                                        <h3>Tom</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
                                        <ul class="unstyled social">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </ul>
                                        </div>
                                </div>
                                                                                                                                                    <div class="tab-pane fade" id="100">
                                    <div class="span3">
                                        <img width="270" height="270" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="img-circle wp-post-image" alt="Image two" />                                 </div>
                                    <div class="span6 description-text">
                                        <h3>John</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
                                        <ul class="unstyled social">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </ul>
                                        </div>
                                </div>
                                                                                                                                                    <div class="tab-pane fade" id="97">
                                    <div class="span3">
                                        <img width="270" height="270" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="img-circle wp-post-image" alt="Image two" />                                 </div>
                                    <div class="span6 description-text">
                                        <h3>Amanda</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
                                        <ul class="unstyled social">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </ul>
                                        </div>
                                </div>
                                                                                                                                                    <div class="tab-pane fade" id="52">
                                    <div class="span3">
                                        <img width="270" height="270" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="img-circle wp-post-image" alt="Image two" />                                 </div>
                                    <div class="span6 description-text">
                                        <h3>Sara</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
                                        <ul class="unstyled social">
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            </ul>
                                        </div>
                                </div>
                                                                                                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>  <section id="our-gallery" class="section-page page-3">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <h2 class="section-title">Our <span>Gallery</span></h2>
                    <div class="gallery-content">
                                            </div>
                    <div class="row">   
                        <ul class="unstyled thumbnails row gallery" >
                                                        <li class="span3">
                                <a href="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="swipebox magnifier" title ="Image 3" style="display:block;text-align:center;">
                                    <img width="270" height="270" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="img-circle" alt="Image 3" />                             </a>
                            </li>
                                                        <li class="span3">
                                <a href="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="swipebox magnifier" title ="Image two" style="display:block;text-align:center;">
                                    <img width="270" height="270" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="img-circle" alt="Image two" />                               </a>
                            </li>
                                                        <li class="span3">
                                <a href="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="swipebox magnifier" title ="Image One" style="display:block;text-align:center;">
                                    <img width="270" height="270" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-02.jpg" class="img-circle" alt="Image One" />                               </a>
                            </li>
                                                    </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>  <section id="stunning-works-in-our-portfolio" class="section-page page-4">
        <div class="container" id="portfolio">
            <h2 class="section-title"><span>Stunning Works</span> in our portfolio</h2>
            <div class="portfolio-container">
                                        
                <div class="row item">
                    <div class="span8">
                        <img width="770" height="440" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-07.jpg" class="attachment-portfolio wp-post-image" alt="portfolio-image" />                 </div>
                    <div class="span4 border description-text">
                        <h3>Third Work</h3>
                        <p><strong>Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                                                <a class="link-portfolio" href="http://#">Go to work</a>
                                            </div>
                </div>
                        
                <div class="row item">
                    <div class="span8">
                        <img width="770" height="440" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-07.jpg" class="attachment-portfolio wp-post-image" alt="portfolio-image" />                 </div>
                    <div class="span4 border description-text">
                        <h3>Second Work</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
                                                <a class="link-portfolio" href="http://#">Go to work</a>
                                            </div>
                </div>
                        
                <div class="row item">
                    <div class="span8">
                        <img width="770" height="440" src="http://minimable.fedeweb.net/demo/wp-content/uploads/2013/02/gallery-07.jpg" class="attachment-portfolio wp-post-image" alt="portfolio-image" />                 </div>
                    <div class="span4 border description-text">
                        <h3>First Work</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
                                            </div>
                </div>
                            </div>
        </div>
    </section>  <section id="get-in-touch-with-us" class="section-page page-5">
        <div class="container">
            <h2 class="section-title">Get in touch <span>with us</span></h2>
            <div class="row">
                <div class="span4" id="find-us">
                    <h3>
                        Find us                 </h3>
                    <ul class="unstyled contact-info">
                                                <li><span class="fa fa-map-marker"></span> <span class="color">Address:</span> 1234 Minimable Road</li>
                                                                        <li><span class="fa fa-signal"></span> <span class="color">Phone:</span> (+39) 0432 123456</li>
                                                                        <li><span class="fa fa-print"></span> <span class="color">Fax:</span> (+39) 0432 123456</li>
                                                                        <li><span class="fa fa-envelope"></span> <span class="color">Email:</span> <a class="email-link" href="mailto:minimable@fedeweb.net">minimable@fedeweb.net</a></li>  
                                            </ul>
                                        <div id="more-information">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
                    </div>
                                        
                    <ul class="unstyled social">
                                                    <li>
                                <a href="#" >
                                    <span class="fa fa-facebook fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-twitter fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-google-plus fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-instagram fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-pinterest fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-linkedin fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-youtube fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-tumblr fa-2x"></span>
                                </a>
                            </li>
                                                                            <li>
                                <a href="#" >
                                    <span class="fa fa-vk fa-2x"></span>
                                </a>
                            </li>
                                            </ul>
                </div>    
                <div class="span8" id="contact-info">
                    <h3>
                        Contact us                  </h3>
                    <div class="wpcf7" id="wpcf7-f63-o1" dir="ltr">
<div class="screen-reader-response"></div>
<form name="" action="/wordpress/wordpress/#wpcf7-f63-o1" method="post" class="wpcf7-form" novalidate="novalidate">
<div style="display: none;">
<input type="hidden" name="_wpcf7" value="63" />
<input type="hidden" name="_wpcf7_version" value="4.1" />
<input type="hidden" name="_wpcf7_locale" value="" />
<input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f63-o1" />
<input type="hidden" name="_wpnonce" value="12ec9f15e7" />
</div>
<p><span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required span8" aria-required="true" aria-invalid="false" placeholder="Your Name" /></span><br />
<span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email span8" aria-required="true" aria-invalid="false" placeholder="Your Email" /></span><br />
<span class="wpcf7-form-control-wrap your-message"><textarea name="your-message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea span8" aria-invalid="false" placeholder="Your Message"></textarea></span><br />
<input type="submit" value="Send" class="wpcf7-form-control wpcf7-submit" /></p>
<div class="wpcf7-response-output wpcf7-display-none"></div></form></div>
                </div>  
            </div>
        </div>
    </section>  
<footer>
    <div class="container"> 
            </div>
</footer
<script type='text/javascript' src='/static/minimable/js/bootstrap.min.js'></script>
<script type='text/javascript' src='/static/minimable/js/easing.js'></script>
<script type='text/javascript' src='/static/minimable/js/ios-orientationchange-fix.js'></script>
<script type='text/javascript' src='/static/minimable/js/jquery.swipebox.min.js'></script>
<script type='text/javascript' src='/static/minimable/js/imagesloaded.pkgd.min.js'></script>
<script type='text/javascript' src='/static/minimable/js/jquery.queryloader2.min.js'></script>
<script type='text/javascript' src='/static/minimable/js/site.js'></script>
<script type='text/javascript' src='/static/minimable/js/TweenMax.min.js'></script>
<script type="text/javascript">
        var speed = 3000;
        var topOffset;
        $(document).ready(function() {
            // Optimalisation: Store the references outside the event handler:
            var $window = $(window);
            topOffset = 290;

            function checkWidth() {
                var windowsize = $window.width();
                if (windowsize > 978) {
                    topOffset = 40;
                }
            }
            // Execute on load
            checkWidth();
            // Bind event listener
            $(window).bind("load resize", function() {
                checkWidth;
            });
            var stickyHeaderTop = 500;
            // Bind to scroll

        });
        </script>
            <script type="text/javascript">
        var stickyHeaderTop = 500;
        $(window).bind('scroll', function() {
            if( jQuery(window).scrollTop() > stickyHeaderTop) {
              jQuery('#menu-top').addClass('fixed');
            } else {
              jQuery('#menu-top').removeClass('fixed');
            }
        });
        </script>
        <script type="text/javascript">
        (function() {
            var request, b = document.body, c = 'className', cs = 'customize-support', rcs = new RegExp('(^|\\s+)(no-)?'+cs+'(\\s+|$)');

            request = true;

            b[c] = b[c].replace( rcs, ' ' );
            b[c] += ( window.postMessage && request ? ' ' : ' no-' ) + cs;
        }());
    </script>
    </body>
</html>