{% load bootstrap3 %}
{% load avatar_tags %}
<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">

  <title>Registration</title>
  {% bootstrap_css %}
  <link rel="stylesheet" href="/static/multiselect/css/bootstrap-multiselect.css" type="text/css"/>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script type="text/javascript" src="/static/multiselect/js/bootstrap-multiselect.js"></script>
  <link href='http://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="/static/css/registration.css" type="text/css"/> -->
  <style type="text/css">
  body{
    padding-top:70px;
  }
  .icon-color{
    color:white;
  }
  #id_name, #id_phonenumber, #id_college{
    border-right: 5px solid red;
  }
  </style>
</head>

<body style="background-image: url('../static/images/profile-wallpaper.jpg');background-size:cover;">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" id="fmeasure" style="background:rgb(7,36,50);border-bottom:rgb(7,36,50);">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/profile" style="color:white;">Events Registration</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/profile"><span class="glyphicon icon-color">Hi, {{ request.user.first_name }}</span></a></li>
            <li><a href="/"><span class="glyphicon glyphicon-home icon-color"></span></a></li>
            <li><a href="/accounts/logout/"><span class="glyphicon glyphicon-log-out icon-color"></span></a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
    <!-- End fixed navbar -->

	<div class="container padding-set">
		<div class="row">
            <div class="col-lg-6">
			<form class="form-horizontal" action="/profileform/" method="post">{% csrf_token %}
  				<fieldset>
    				<div class="form-group">
    					<label for="id_name" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Name:</label>
    					<div class="col-lg-8">
    						{{ form.name }}
                            <span style="color:red">{{ form.name.errors }}</span>
    					</div>
    				</div>
    				<div class="form-group">
	    				<label for="id_phonenumber" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Phone Number:</label>
    					<div class="col-lg-8">
    						{{ form.phonenumber }}
                            <span style="color:red">{{ form.phonenumber.errors }}</span>
    					</div>
    				</div>
                    <div class="form-group">
                        <label for="id_phonenumber" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">College Name:</label>
                        <div class="col-lg-8">
                            {{ form.college }}
                            <span style="color:red">{{ form.college.errors }}</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_phonenumber" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Department/Year:</label>
                        <div class="col-lg-8">
                            {{ form.dept }}
                            <span style="color:red">{{ form.dept.errors }}</span>
                        </div>
                    </div>
    				<div class="form-group">
    					<label for="id_foreveryone" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Central Events:</label>
    					<div class="col-lg-8">
    						{{ form.foreveryone }}
                            <span style="color:red">{{ form.foreveryone.errors }}</span>
    					</div>
    				</div>
                    <div class="form-group">
                        <label for="id_gaming" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Gaming events:</label>
                        <div class="col-lg-5">
                            {{ form.gaming }}
                            <span style="color:red">{{ form.gaming.errors }}</span>
                        </div>
                    </div>
    				<div class="form-group">
    					<label for="id_cseit" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">CSE/IT events:</label>
    					<div class="col-lg-8">
    						{{ form.cseit }}
                            <span style="color:red">{{ form.cseit.errors }}</span>
    					</div>
    				</div>
    				<div class="form-group">
    					<label for="id_ece" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">ECE events:</label>
    					<div class="col-lg-8">
    						{{ form.ece }}
                            <span style="color:red">{{ form.ece.errors }}</span>
    					</div>
    				</div>
    				<div class="form-group">
    					<label for="id_eie" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">EIE events:</label>
    					<div class="col-lg-8">
    						{{ form.eie }}
                            <span style="color:red">{{ form.eie.errors }}</span>
    					</div>
    				</div>
    				<div class="form-group">
    					<label for="id_ee" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Electrical events:</label>
    					<div class="col-lg-8">
    						{{ form.ee }}
                            <span style="color:red">{{ form.ee.errors }}</span>
    					</div>
    				</div>
    				<div class="form-group">
    					<label for="id_me" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Mechanical events:</label>
    					<div class="col-lg-5">
    						{{ form.me }}
                            <span style="color:red">{{ form.me.errors }}</span>
    					</div>
    				</div>
    				<div class="form-group">
    					<label for="id_ce" class="col-lg-4 control-label" style="font-family: 'Indie Flower', cursive;font-size:1.5em;color:white;">Civil events:</label>
    					<div class="col-lg-5">
    						{{ form.ce }}
                            <span style="color:red">{{ form.ce.errors }}</span>
    					</div>
    				</div>
    				<div class="form-group">
      					<div class="col-lg-4 col-lg-offset-4">
        					<button class="btn btn-default">Cancel</button>
        					<button type="submit" class="btn btn-primary">Submit</button>
      					</div>
    				</div>
    			</fieldset>
    		</form>
            </div>
    	</div>
        <br>&nbsp;<br>&nbsp;<br>&nbsp;<br>&nbsp;
	</div>
    <!-- <div class="foot">
        <p>*Users Registering for group events will have to submit their team member's name on spot!</p>
    </div> -->
<div id="footer">
    <div class="container">
    <div style="float: left;">  <h5 style="color: rgb(195, 191, 191);
">* Users Registering for group events will have to submit their team member's name on spot!<br>** These events contain individual participation charges<br>Note: Events that doesn't contain * and ** are included under central registration.</h5></a>
        </div>     
  </div>
</div>
<style>
#footer {
  position:fixed;
  bottom:0;
  width:100%;
  background:rgb(7,36,50);
}
.footer_link {
    color : #C7C7C7;    
}
</style>

  	{% bootstrap_javascript %}
  	<script type="text/javascript">
    	$(document).ready(function() {
        	$('#id_gaming').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
        	$('#id_ce').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
        	$('#id_me').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
        	$('#id_ee').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
        	$('#id_eie').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
        	$('#id_ece').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
        	$('#id_cseit').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
        	$('#id_foreveryone').multiselect({
                disableIfEmpty: true,
                includeSelectAllOption: true,
                buttonWidth: $('#id_phonenumber').width(),
                enableCaseInsensitiveFiltering: true
            });
	    });
	</script>
    <script type="text/javascript">
    $("#id_phonenumber").blur(function(){
        if (this.value.length ==10){
            return true;
        }
        else {
            this.value="";
        }
    });
    </script>
</body>

</html>