{% load user_agents %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Horizon_2k16</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/team/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/team/css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/static/team/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">




    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">HORIZON</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                   
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>



    <!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading" >Our Amazing Team</h2>
                    <h3 class="section-subheading text-muted">Without whom this is not possible.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/team/img/team/a1.png" class="img-responsive img-circle" alt="">
                        <h4>Sheesh Mohsin</h4>
                        <p class="text-muted">Engineering Lead</p>
                        <ul class="list-inline social-buttons">
                            <li><a target="_blank" href="https://twitter.com/sheeshmohsin"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.facebook.com/sheesh.mohsin"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a target="_blank" href="https://in.linkedin.com/in/sheeshmohsin"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/team/img/team/b1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Kumari Shalini</h4>
                        <p class="text-muted">Data Scientist</p>
                        <ul class="list-inline social-buttons">
                            <li><a arget="_blank" href="https://twitter.com/shiminsh"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.facebook.com/shalini.roy.79219"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a target="_blank" href="https://in.linkedin.com/in/shiminsh"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="/static/team/img/team/c1.jpg" class="img-responsive img-circle" alt="">
                        <h4>Mahendra Yadav</h4>
                        <p class="text-muted">Full Stack Developer</p>
                        <ul class="list-inline social-buttons">
                            <li><a target="_blank" href="https://twitter.com/userimack"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.facebook.com/userimack"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a target="_blank" href="https://in.linkedin.com/in/userimack"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 col-sm-offset-4">
                    <div class="team-member">
                        <img src="/static/team/img/team/i.jpg" class="img-responsive img-circle" alt="">
                        <h4>Shekhar Singh Choudhary</h4>
                        <p class="text-muted">Hacker</p>
                        <ul class="list-inline social-buttons">
                            <li><a target="_blank" href="https://twitter.com/shekhar7hulk"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a target="_blank" href="https://www.facebook.com/shekharsinghchoudhary7"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a target="_blank" href="https://in.linkedin.com/in/shekharsinghchoudhary"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted"><h4>"T.E.A.M. = Together Everyone Achieves More!"</h4></p>
                </div>
            </div>
        </div>
    </section>

   

    <!-- jQuery -->
    <script src="/static/team/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/team/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/team/js/classie.js"></script>
    <script src="/static/team/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/team/js/jqBootstrapValidation.js"></script>
    <script src="/static/team/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/team/js/agency.js"></script>

</body>

</html>
