<div class="container portfolio-item">
	<h1 class="portfolio-title">A video from youtube</h1>
	<ul class="button-controls">
				<li><a href="#" class="visit-link nav-control" ><span class="fa fa-link"></span></a></li>
						<li><a href="#" class="description-btn nav-control"><span class="fa fa-align-left"></span></a></li>
				<li><a href="#" class="close-item nav-control"><span class="fa fa-times"></span></a></li>
	</ul>
				<div class="video-wrapper">
<div class="video-container"><iframe width="853" height="480" src="http://www.youtube-nocookie.com/embed/43sYSMHYf-Q" class="vid iframe-youtube"></iframe></div>
</div>
		<div class="row">
		<div id="overlay"></div>
		<div class="span8 description-item ">
			<div class="content-item">
				<a href="#" id="close-content"><span class="fa fa-times"></span></a>				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent euismod ultrices ante, ac laoreet nulla vestibulum adipiscing. Nam quis justo in augue auctor imperdiet. Curabitur aliquet orci sit amet est posuere consectetur. Fusce nec leo ut massa viverra venenatis. Nam accumsan libero a elit aliquet quis ullamcorper arcu tincidunt.</p>
<p>Praesent purus turpis, consectetur quis congue vel, pulvinar at lorem. Vivamus varius condimentum dolor, quis ultricies ipsum porta quis.</p>
			</div>
		</div>
	</div>
	</div>